* {
    font-family: fantasy;
    box-sizing: border-box;
    text-align: center;
    color: #7675AA;
}

body {
    background-image: url(background.png);
    background-size: cover;
}

button {
    background-color: #d3d6ff;
    border-color: #7675AA;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 4px;
}

button:hover {
    background-color: #7675AA;
    color: #d3d6ff;
    border-color: #d3d6ff;
    border-radius: 4px;
}

/* Intro Section */

#start-wrap {
    padding-bottom: 1.5rem;
}

#intro-wrap {
    padding-bottom: 2rem;
}

h1 {
    color: #6e78ff;
    font-size: 3rem;
}

input {
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 1.25rem;
    color: #6e78ff;
}

input:focus {
    outline: none;
}

#name-label {
    font-size: 1.3rem;
}

/* Game Play Section */

#game-info-wrap {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 2rem;
    justify-content: center;
    justify-items: center;
}

.game-info {
    /* border: 2px solid #6e78ff; */
    font-weight: lighter;
}

#tetris-box-wrap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    padding-bottom: 2rem;
    grid-gap: 0.1rem;
}

.tetris-box {
    border: 2px solid #7675AA;
    background-color: #c8dce4;
}

#stored-block {
    height: 4rem;
    width: 4rem;
}

#tetris-blocks {
    height: 20rem;
    width: 15rem;
}

#next-blocks {
    height: 15rem;
    width: 4rem;
}